@font-face{
    font-family:"Gilroy";
    font-weight:900;
    src:url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.woff2) format("woff2") 
}
@font-face{
    font-family:"Gilroy";
    font-weight:300;
    src:url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.woff2) format("woff2") 
}
@font-face{
    font-family:"Open Sans";
    font-weight: 400;
    src:url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2") 
}
@font-face{
    font-family:"Open Sans";
    font-weight:300;
    src:url(../fonts/opensanslight.woff) format("woff"), url(../fonts/opensanslight.woff2) format("woff2") 
}
body {
    font-family: "Open Sans",Arial,sans-serif;
}
.centrovka{
    margin: 0 auto;
    margin-bottom: 82px;
}
.container {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
a {
    text-decoration : none;
    color : #000000;
}
.main-header li,
.centrovka li,
.footer-container li,
.catalog-contaiter li {
    list-style: none;
}
.main-header {
    position: relative;
    width: 1160px;
    min-height: 265px;
    background-color: #f7e296;
    margin: 40px auto auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.header-logo {
    position: absolute;
    top: -24px;
    left: 59px;
    width: 164px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
}
.catalog-header-logo:hover {
    opacity : 0.3;
}
.catalog-header-logo:active {
    opacity : 0.6;
}
.top-menu {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack : end;
        -ms-flex-pack : end;
            justify-content : flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -1px;
}
.search-field {
    opacity: 0.3;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    min-height: 49px;
    width: 355px;
    padding-right: 10px;
    padding-left: 38px;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 0.15px;
    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 3px 17px;
    border-style: none;
    outline: 0;
}
.search-field:hover{
    opacity: 0.6;
}
.btn-search {
    visibility : hidden;
    border : black solid 2px;
    background: inherit;
    padding : 15px;
    margin-left: -4px;
}
.btn-search:hover {
    color : white;
    background :black;
}
.btn-search:active{
    opacity: 0.3;
}
.btn-search:focus, .search-field:focus + button {
    visibility : visible;
}
.btn-search:active, .search-field:active + button {
    visibility : visible;
}
.btn-search:active ~ .search-field, .btn-search:hover ~ .search-field, .btn-search:focus ~ .search-field{
    color : black;
    border : none;
    border-bottom : 2px solid black;
    opacity : 1;
    outline : none;
}
.search-field:focus {
    color : black;
    border : none;
    border-bottom : 2px solid black;
    opacity : 1;
    outline : none;
}
.main-header ul a:hover {
    opacity : 0.6;
}
.main-header ul a:active {
    opacity : 0.3;
}
.menu-catalog-link, .menu-delivery, .menu-garanty, .menu-contacts {
    width : 214px;
    min-height : 12px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 3.6px;
}
.sub-menu::before{
    content: "";
    top: 0;
    height: 108%;
    min-height: 162px;
    z-index: -1;
    left: -58px;
    min-width: 1160px;
    padding-top: 0;
    position: absolute;
    background-color: #f7e296;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sub-menu{
    position: relative;
    display: none;
    z-index: 5;
    padding: 0;
    padding-top: 22px;
    max-height: 300px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
}
.sub-menu:hover, .menu-catalog-link:hover+.sub-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.sub-menu li:first-child{
    width: 181px;
    margin-right: 40px;
}
.sub-menu li:nth-child(2){
    width: 130px;
    margin-right: 40px;
}
.sub-menu li:nth-child(3){
    width: 148px;
}
.sub-menu li:nth-child(4){
    width: 200px;
    margin-right: 23px;
}
.sub-menu li:nth-child(5){
    width: 200px;
}
.sub-menu li:nth-child(6){
    width: 200px;
}
/*иконки ТОР меню*/
.user-name{
    -ms-flex-preferred-size : 49%;
        flex-basis : 49%;
}
.user-blok {
    -ms-flex-preferred-size : 282px;
        flex-basis : 282px;
}
.compare-blok {
    -ms-flex-preferred-size : 132px;
        flex-basis : 132px;
}
.basket-blok{
    -ms-flex-preferred-size : 145px;
        flex-basis : 145px;
}
.search-form {
    -ms-flex-preferred-size: 541px;
        flex-basis: 541px;
}
.top-menu li a, .footer-menu-items-link{
    padding-left: 25px;
    text-align: right;
    color: #000000;
    font-family: "Open Sans",Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.top-menu li, .footer-top-nav-list li{
    position: relative;
}
.basket-blok a::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.compare-blok a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.user-name::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.user-enter::before{
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.bottom-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 12px;
}
.bottom-menu li{
    position: relative;
}
.menu-catalog{
    -ms-flex-preferred-size : 541px;
        flex-basis : 541px;
}
.menu-catalog-link{
    padding-right: 29px;
}
.menu-catalog-link::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 232px;
    width: 15px;
    height: 15px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
.bottom-menu > li:nth-child(2) {
    -ms-flex-preferred-size : 158px;
        flex-basis : 158px;
}
.bottom-menu > li:nth-child(3) {
    -ms-flex-preferred-size : 224px;
        flex-basis : 224px;
}
.bottom-menu > li:nth-child(4) {
    -ms-flex-preferred-size : 179px;
        flex-basis : 179px;
}
/* СЛАЙДЕР*/
.slider {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    position : relative;
    margin : -111px auto auto auto;
}
.slider-control{
    visibility: hidden;
}
.slider-control-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 126px;
    right: 75px;
    z-index: 1;
    height: 26px;
}
.slider-control-item{
    width: 25px;
    height: 25px;
    margin-left: 8px;
}


.slider-label{ 
   
    position: absolute;
    background: url(../img/slider-button-empty.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    background-size: 50%;
    height: 24px;
}

.slider-label:hover{
    background: url(../img/slider-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    background-size: 50%;
    height: 24px;
 }

.slide-active{
    content: "";
    position: absolute;
    background: url(../img/slider-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    background-size: 50%;
    height: 24px;
   
}
.slide-item {
    position : relative;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    width : 1160px;
    height : 100%;
    -webkit-box-pack : end;
        -ms-flex-pack : end;
            justify-content : flex-end;
}
.slider-item-bracelet, .slider-item-kwadrocopter{
    display: none;
}
.slider-item-image{
    -ms-flex-preferred-size: 498px;
        flex-basis: 498px;
}
.slide-item-stand img {
    min-width : 384px;
    min-height : 486px;
}
.slide-item-bracelet img {
    min-width : 345px;
    min-height : 485px;
}
.slider-item-kwadrocopter div:nth-child(1) {
    -ms-flex-preferred-size : 45%;
        flex-basis : 45%;
}
.slider-item-kwadrocopter div:nth-child(2) {
    -ms-flex-preferred-size : 49%;
        flex-basis : 49%;
}
.slider-item-kwadrocopter h2 {
    min-width : 502px;
    min-height : 90px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 56px;
    letter-spacing : 0.17px;
}
.slider-item-description-number {
    position: absolute;
    top: -14px;
    right: 32px;
    min-width: 198px;
    min-height: 131px;
    color: white;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 179px;
    font-weight: 700;
    line-height: 179.2px;
    letter-spacing: 0.36px;
}
.kwadro-number{
    right: 0;
}
.slider-item-description{
    position: relative;
    -ms-flex-preferred-size: 572px;
        flex-basis: 572px;
}
.slider-item-description::before {
    display: block;
    content: "";
    position: absolute;
    top: 37px;
    left: 13px;
    width: 100px;
    height: 7px;
    bottom: 0;
    background-color:white;
}
.slider-item-description-title {
    position: relative;
    min-width: 394px;
    margin-left: 12px;
    margin-top: 79px;
    margin-bottom: 25px;
    min-height: 98px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 47px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: 0.17px;
}
.slider-item-description-text {
    width: 481px;
    min-height: 57px;
    padding-left: 11px;
    margin-top: -10px;
    padding-top: 4px;
   min-height: 46px;
    color: #464646;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-bottom: 51px;
}
.slider-item-description-btn {
    width : 133px;
    margin-left: 12px;
    height : 8px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 900;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : -webkit-gradient(linear, left bottom, left top, from(white), color-stop(35%, white), color-stop(35%, #f0c52e), color-stop(70%, #f0c52e), color-stop(70%, white));
    background : -webkit-linear-gradient(bottom, white 0%, white 35%, #f0c52e 35%, #f0c52e 70%, white 70%);
    background : -o-linear-gradient(bottom, white 0%, white 35%, #f0c52e 35%, #f0c52e 70%, white 70%);
    background : linear-gradient(to top, white 0%, white 35%, #f0c52e 35%, #f0c52e 70%, white 70%);
    padding-left : 48px;
    padding-right : 48px;
}
.slider-item-description-btn:hover {
    width : 133px;
    height : 8px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding: 9px 48px;
}
.slider-item-description-btn:active {
    width : 133px;
    height : 8px;
    color : #0000004d;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding: 9px 48px;
}
.kwadrocopter-table,
.bracelet-table,
.stand-table
{
    margin-top: 55px;
}
.features-lenght-of-stand, .features-kwadrocopter-fly-lenght, .features-work-hours {
    padding-left: 10px;
    width : 84px;
    height : 31px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
}
.features-work-hours{
    width: 163px;
}
.features-kwadrocopter-fly-lenght{
    width: 113px;
}
.features-width-of-stand, .features-kwadrocopter-fly-radius{
    width : 66px;
    height : 26px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
    padding-left : 80px;
    padding-left: 67px;
}
.features-kwadrocopter-fly-radius{
    width: 116px;
}
.features-width-of-stand{
    width: 95px;
}
.features-material-of-stand {
    width : 124px;
    height : 34px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
    padding-left: 40px;
}
.specification-lenght-of-stand, .specification-work-hours, .specification-kwadrocopter-fly-lenght {
    width: 99px;
    height: 11px;
    text-align: center;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    padding-top: 6px;
}
.specification-width-of-stand, .specification-kwadrocopter-fly-radius{
    width : 60px;
    height : 9px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    padding-left : 67px;
    padding-top: 6px;
}
.specification-material-of-stand{
    width : 60px;
    height : 12px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    padding-left : 43px;
    padding-top: 6px;
}
/*ПОПУЛЯРНЫЕ ТОВАРЫ*/
.popular-items-section {
    margin-top: 103px;
    margin-bottom: 161px;
}
.popular-items-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : horizontal;
    -webkit-box-direction : normal;
        -ms-flex-direction : row;
            flex-direction : row;
    -webkit-box-pack : justify;
        -ms-flex-pack : justify;
            justify-content : space-between;
    padding : 0;
    width : 1160px;
    margin: 0 auto;
}
.popular-items-list p {
    width : 160px;
    min-height : 39px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    letter-spacing : 0.18px;
    margin-top: 33px;
}
.popular-items-bg {
    min-height : 160px;
    width : 160px;
    background-color : #f7e296;
}
.popular-items:hover div {
    background-color : #f0c52e;
}
.popular-items:active p {
    opacity : 0.300000011920928955078125;
}
.popular-items:active img {
    opacity : 0.300000011920928955078125;
}
.popular-items-bg-img-virtual {
    width : 97px;
    height : 55px;
    margin : 52px 32px 53px 31px;
}
.popular-items-bg-img-monopod{
    width : 86px;
    height : 117px;
    margin : 41px 36px 2px 38px;
}
.popular-items-bg-img-camera{
    width : 71px;
    height : 87px;
    margin : 38px 40px 35px 49px;
}
.popular-items-bg-img-fitnes-bracelet{
    width : 107px;
    height : 65px;
    margin : 50px 25px 45px 28px;
}
.popular-items-bg-img-smart-watch{
    width : 56px;
    height : 98px;
    margin : 32px 49px 30px 55px;
}
.popular-items-bg-img-kvadro{
    width : 132px;
    height : 69px;
    margin : 49px 15px 42px 13px;
}
/*БРЕНДЫ */
.brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1160px;
    flex-wrap: wrap;
    margin: 3px auto 90px auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /* padding: 0 20px; */
}
.brands img {
    width : 260px;
    height : 100px;
}
.brands a:first-child{
    /*margin-left:40px;*/
}
.brands a:nth-child(2){
    /*margin-left:40px;*/
}
.brands a:nth-child(3){
    /*margin-left:40px;*/
}
.brands a:nth-child(4){
    /*margin-left:40px;*/
}
.brands-item-dji img:hover {
    background-image : url(../img/logo-1-hover.png);
}
.brands-item-spgadgets img:hover {
    background-image : url(../img/logo-2-hover.png);
}
.brands-item-gopro img:hover {
    background-image : url(../img/logo-3-hover.png);
}
.brands-item-vive img:hover {
    background-image : url(../img/logo-4-hover.png);
}
/*СЕРВИС */
.service {
    min-height: 288px;
    background-color: #e5e5e5;
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 94px;
}
.service-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1160px;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    top: -42px;
}
.service-controls-btn input[name="serviceradiobtn"] {
visibility: hidden;
position:absolute;
}
.service-controls-delivery {
    margin-bottom: 39px;
}
.service-controls-delivery label{
    padding: 9px 20px;
}
.service-controls-garanty {
    margin-bottom: 43px;
}
.service-controls-garanty label{
    padding: 9px 22px;
}
.service-controls-credit {
    margin-bottom: 49px;
}
.service-controls-credit label{
    padding: 9px 36px;
}
.service-controls-btn label {
    background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e50d), color-stop(40%, #e5e5e500), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #e5e5e500));
    background: -webkit-linear-gradient(bottom, #e5e5e50d 0%, #e5e5e500 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e500 60%);
    background: -o-linear-gradient(bottom, #e5e5e50d 0%, #e5e5e500 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e500 60%);
    background: linear-gradient(to top, #e5e5e50d 0%, #e5e5e500 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e500 60%);
}
.service-controls-delivery label:hover {
    background : #f0c52e;
}
.service-controls-garanty label:hover {
    background : #f0c52e;
}
.service-controls-credit label:hover {
    background : #f0c52e;
}
.service-controls-btn .service-active {
    background : black;
    padding :9px 136px 9px 20px;
    outline : none;
    color : #f7e184;
}
.service-controls-btn .service-active:hover{
    background: #000000;
}
.service-controls-garanty label:active {
    background : black;
    padding : 9px 141px 9px 22px;
    outline : none;
    color : #f7e184;
}
.service-controls-credit label:active{
    background : black;
    padding : 9px 155px 9px 36px;
    outline : inherit;
    color : #f7e184;
}
.service-controls {
    width: 287px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 6px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 29px;
    margin-left: 0;
    padding-left: 0px;
        padding-top: 30px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.9px;
}
.about-us-btn {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : -webkit-gradient(linear, left bottom, left top, from(white), color-stop(40%, white), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, white));
    background : -webkit-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : -o-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
}
.about-us-btn:hover {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding : 10px 20px 10px 20px;
}
.service-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: -30px;
    margin-bottom: 39px;
    width: 783px;
    padding-left: 116px;
}
.content-service-title {
    width : 217px;
    margin-bottom: 29px;
    min-height : 39px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 48px;
    letter-spacing : 0.21px;
}
.content-service-description {
    width : 456px;
    min-height : 75px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    letter-spacing : 0.15px;
}

.content-service-delivery {
    background-image : url(../img/delivery.svg);
    background-repeat : no-repeat;
    background-position-x : 89%;
    background-position-y : 89%;
}
.content-service-garanty {
    background-image : url(../img/warranty.svg);
    background-repeat : no-repeat;
    background-position-x : 89%;
    background-position-y : 89%;
}
.content-service-kredit {
    background-image : url(../img/credit.svg);
    background-repeat : no-repeat;
    background-position-x : 89%;
    background-position-y : 89%;
}
.content-service-garanty, .content-service-kredit {
    display :none ;
}
/* БЛОК КОНТАКТЫ И ОНАС*/
.about-contacts {
    width: 1160px;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack :start;
        -ms-flex-pack :start;
            justify-content :flex-start;
    margin-bottom: 82px;
    padding: 0 20px;
    margin: 0 auto;
}
.main-about-us{
    width: 511px;
}

.main-about-us, .main-contacts {
    -webkit-box-pack : start;
        -ms-flex-pack : start;
            justify-content : flex-start;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    position: relative;
}
.description-about-us-title {
    width : 100%;
    margin-bottom: 0;
    min-height : 35px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 48px;
    font-weight : 700;
    line-height : 73px;
    letter-spacing : 0.21px;
}
.about-contacts p {
    width : 511px;
    min-height : 46px;
    width: 478px;
    margin: 0;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    margin-top : 30px;
}
.main-about-us ul {
    list-style-type : circle;
    margin-top: 66px;
    padding-left: 36px;
    margin-bottom: 17px;
}
.main-about-us li {
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 16px;
    font-weight : 700;
    line-height : 40px;
    list-style: circle;
}
.main-about-us::before , .main-contacts::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    bottom: 0;
    background-color:black;
}
.main-contacts{
    margin-left: 89px;
}
.description-main-contacts-title {
    width : 100%;
    margin-bottom: 0px;
    min-height : 34px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 73px;
    letter-spacing : 0.21px;
}
.main-contacts p{
    width: 513px;
}
.main-contacts img {
    width : 560px;
    height : 222px;
    cursor: pointer;
}
.modal-map-js{
    height: 222px;
    background: lightgrey;
    margin-top: 39px;
    margin-bottom: 70px;
}
.about-us-btn {
    margin-top : 36px;
    width : 208px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.8px;
    background : -webkit-gradient(linear, left bottom, left top, from(white), color-stop(40%, white), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, white));
    background : -webkit-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : -o-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding :8px 26px 8px 26px;
}
.about-us-btn:hover {
    width : 208px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.8px;
    background : none;
    background-color : #f0c52e;
    padding : 8px 26px 8px 26px;
}
.about-us-btn:active, .about-us-btn:focus{
    width : 208px;
    height : 24px;
    color : #00000030;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.8px;
    background : none;
    background-color : #f0c52e;
    padding : 8px 26px 8px 26px;
}
.main-contacts-btn {
    text-align: center;
    width: 219px;
    height: 24px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3.1px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(40%, white), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, white));
    background: -webkit-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background: -o-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background: linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding: 8px 20px 8px 20px;
    border: none;
}
.main-contacts-btn:hover {
    background : #f0c52e;
}
.main-contacts-btn:active, .main-contacts-btn:focus{
    outline : none;
    color: #00000032;
}

/* оформление каталога */
.catalog-contaiter {
    width: 100%;
    margin-top: -113px;
}
.catalog-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    background: white;
}
.catalog-monopod h1 {
    min-height: 42px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.1px;
    margin-left: 60px;
    margin-top: 38px;
    margin-bottom: 24px;
}
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 60px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans",Arial,sans-serif;
    letter-spacing: 0.14px;
}
.breadcrumbs li {
    
    letter-spacing: .012em;
    word-spacing: 0.012em;
   
}
.breadcrumbs a{
    height: 10px;
    padding-right: 24px;
    background: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.breadcrumbs li:last-child a{
    background: none;

}
.breadcrumbs li:nth-child(2){
    margin-left: 10px;
}
.breadcrumbs li:nth-child(3){
   margin-left: 15px;
}
.breadcrumbs a{
    color:#00000041;
}
.breadcrumbs a:hover{
    color:#0000009d;
}
.breadcrumbs a:active{
    color:#0000001a;
}
.breadcrumbs li:last-child a{
    color:#00000041;
}
/*
.breadcrumbs li:not(:last-child):after {
    content: "";
    position: absolute;
    width: 7px;
    height: 25px;
    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
*/
.general-forms {
    margin: 0 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%); */
    /* margin: 0 auto; */
     min-width: 1200px; 
    /* max-width: 1440px; */
    margin-top: 31px;
}
.filter-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 34%;
    background: -webkit-linear-gradient(top, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%);
    background: -o-linear-gradient(top, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%);
    background: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%);
}
.sort-container{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-basis: 1054px; */
    /* max-width: 1055px; */
    background: -webkit-linear-gradient(top, #eeeeee 70px, white 70px, white 100%);
    background: -o-linear-gradient(top, #eeeeee 70px, white 70px, white 100%);
    background: linear-gradient(to bottom, #eeeeee 70px, white 70px, white 100%);
}
.filter-group-title{
    margin-top: 13px;
    letter-spacing: 1.3px;
    margin-bottom: 38px;

}
.toogle{
    position: relative;
    margin: 0;
    padding: 0 0 33px;
    border: none;
    border-top: 2px solid black;
}
.chek {
    width: 202px;
    margin-right: 65px;
    /* margin-left: 59px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #eeeeee;
    height: 100%;
}
.chek>form{
    padding-top: 69px;
}
/*оформление бегунка*/
.filter-bar {
    width: 110px;
    height: 2px;
    background-color: #91c92f;
}
.filter-scale {
    position: relative;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #dbdbdb;
}
.filter-toggle-min {
    left: -6px;
}
.filter-toggle-max {
    left: 107px;
}
.filter-toggle {
    position: absolute;
    top:-10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #dddddd;
    box-shadow: 0 2px 1px 0 #dddddd;
    cursor: pointer;
}
.filter-toggle:focus{
    outline: none;
}
.filter-toggle:active{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.filter-price-control {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0;
}
.filter-price-input {
    width: 50px;
    font-weight: inherit;
    color: inherit;
    letter-spacing: inherit;
    background-color: transparent;
    border-style: none;
}
.color-check{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -11px;
    margin-top: -9px;
}
.bluetoth-check{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -21px;
}
.filter-option-item{
    width: 162px;
    height: 40px;
    position: relative;
}
.filter-option-item input{
    position: absolute;
}
/* разметка чекбоксов*/
.filter-option-title::before {
    content: "";
    position: absolute;
    left: -15px;
    background-repeat: no-repeat;
    background-position: left;
    top: 0px;
    width: 27px;
    height: 23px;
}
/* .filter-checkbox-field:checked + .filter-option-title:active::before,*/
.filter-option-title::before {
    background-image: url(../img/checkbox-off.svg);
}
/* .filter-checkbox-field:not(:checked) + .filter-option-title:active::before,*/
.filter-checkbox-field:checked + .filter-option-title::before {
    background-image: url(../img/checkbox-on.svg);
}
/*реализация состояний */
.filter-option-title:hover::before{
    opacity: 0.6;
}
.filter-checkbox-field:disabled + .filter-option-title, .filter-checkbox-field:disabled::before {
    opacity: 0.3;
}
/* разметка радиокнопок */
/* .filter-radio-field:not(:checked) + .filter-option-title:active::before, */
.filter-radio-field:checked + .filter-option-title::before {
    background-image: url(../img/radio-on.svg);
}
/* .filter-radio-field:checked + .filter-option-title:active::before, */
.bluetoth-check .filter-option-title::before {
    top: -4px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
}
.filter-radio-field:disabled + .filter-option-title, .filter-radio-field:disabled::before {
    opacity: 0.25;
}
.filter-option-title::before {
    content: "";
    position: absolute;
    left: -40px;
    background-repeat: no-repeat;
    background-position: left;
}
/* стилизация кнопки фильтра каталога*/
.filter-btn {
    width : 200px;
    height : 44px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent));
    background: -webkit-linear-gradient(bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    background: -o-linear-gradient(bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    background: linear-gradient(to top, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    padding: 10px 20px 10px 20px;
    padding : 10px 20px 10px 20px;
    border : none;
}
.filter-btn:hover {
    background : #f0c52e;
}
.filter-btn:focus {
    outline : none;
}
.filter-btn:active {
    background : #f0c52e;
    color: #00000044;
}
.right-side {
    width: 100%;
    max-width: 972px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.catalog-aside-title{
    width: 200px;
    margin: 0;
    padding-right: 68px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    background: #dbdbdb 
}
.main-menu-catalog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background: #eeeeee;
    padding: 7px;
}
/* сортировка*/
.sort-catalog {
    max-width: 972px;
    min-height:70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #eeeeee;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sort-navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sort-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 516px;
    background: #eeeeee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    padding-left: 56px;
}
.catalog-sort-title{
    width: 145px;
    margin-left: 73px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.7px;
}
.sort-navigation li:nth-child(1){
    width: 88px;
    height: 18px;
    color: #000000;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.sort-navigation li:nth-child(2){
    width: 92px;
    height: 18px;
    color: #000000;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.sort-navigation li:nth-child(3){
    width: 120px;
    height: 18px;
    color: #000000;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
}
.sort-navigation-item-link, .sort-up a, .sort-down a{
    opacity: 0.3;
}
.sort-navigation-item-link:hover, .sort-up a:hover, .sort-down a :hover{
    opacity: 0.6;
}
.sort-navigation-item-link:active, .sort-up a:active,
.sort-down a :active,.sort-active a{
    opacity: 1;
}
.sort-navigation-action{
    opacity: 1;
}
.sort-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    
}
.sort-up{
    width: 11px;
    height: 10px;
    -ms-flex-preferred-size: 2%;
        flex-basis: 2%;
}
.sort-down{
    width: 11px;
    height: 10px;
    margin-left: 20px;
}
/* каталог товаров*/
.catalog-asortement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* max-width: 967px; */
    padding-bottom: 62px;
    padding-left: 72px;
    padding-top: 69px;
    background: white;
}
.dilettantish-item{
    margin-right:40px;
}
.pool-item{
    margin-right:40px;
}
.pool-item, .hand-item {
    margin-top: 46px;
}

.catalog-item-image{
    width: 360px;
    height: 380px;
    padding-bottom: 32px;
}
.new-item{
    position: absolute;
    right: 28px;
    top: 27px;
    width: 56px;
    height: 57px;
    border: 2px solid #000000;
    background: transparent;
    opacity: 0.1;
    border-radius: 50%;
}
.new-text{
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    text-align: center;
}
/*реализация ховера на содержимом каталоге */
.catalog-button{
    width: 200px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 70px;
    padding-left: 80px;
    padding-right: 80px;
    left: 0;
    top: 0;
    z-index: 1;
    height: 208px;
    padding-top: 172px;
    background-color: rgba(238, 238, 238, 0.7);
    visibility: hidden;
}
.catalog-button:hover,.catalog-item-image:hover~.catalog-button{
    visibility: visible;
}
.catalog-link {
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
}
.profi-link{
    width: 182px;
    font-size: 17px;
    letter-spacing: 1.05px;
    line-height: 24px;
}
.pool-link{
    letter-spacing: 0.1px;
}
.hand-link{
    width: 233px;
    letter-spacing: 0.6px;
    font-size: 18px;
}
.catalog-item-value {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    font-family: "Gilroy", Arial, sans-serif;
    text-align: right;
    color: #464646;
    letter-spacing: 0.3px;
}
.btn-catalog-busket{
    width: 200px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(238,238,238,0)),color-stop(35%, rgba(238,238,238,0)), color-stop(35%, #f0c52e), color-stop(70%, #f0c52e), color-stop(70%, rgba(238,238,238,0)));
    background: -webkit-linear-gradient(bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 35%, #f0c52e 35%, #f0c52e 70%, rgba(238,238,238,0) 70%);
    background: -o-linear-gradient(bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 35%, #f0c52e 35%, #f0c52e 70%, rgba(238,238,238,0) 70%);
    background: linear-gradient(to top, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 35%, #f0c52e 35%, #f0c52e 70%, rgba(238,238,238,0) 70%);
    text-align: center;
}
.btn-catalog-busket:hover{
    background: #f0c52e;
}
.btn-catalog-busket:active{
    background: #f0c52e;
    color: #00000044;
}
.btn-catalog-compare{
    text-align: center;
    color: rgba(0,0,0,.5);
    width: 200px;
    font-size: 13px;
}
.btn-catalog-compare:hover{
    color: rgba(0,0,0,1);
}
.btn-catalog-compare:active{
    color: rgba(0,0,0,0.2);
}
.catalog-item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.catalog-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* кнопки страниц */
.paginator {
    margin-top: 36px;
    width: 762px;
    height: 70px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #eeeeee;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.91px;
}
.paginator-next a{
    width: 85px;
    padding: 25px 24px 25px 39px;
    color: #000;
}
.paginator-prev a{
    width: 85px;
    padding :25px 38px 25px 30px;
    color: #000;
}
.paginator-prev a:hover, .paginator-next a:hover{
    background: #dbdbdb;
    color: #000000;
}
.paginator-prev a:active, .paginator-next a:active{
    background: #dbdbdb;
    color: #00000044;
}
.paginator-pages{
    margin-right: 12px;
    margin-left: 12px;
    font-size: 14px;
    
}
.paginator-pages-link{
    opacity: 0.3;
}
.paginator-pages-link:hover{
    opacity: 0.6;
}
.paginator-pages .pages-link-active{
    opacity: 1;
}
.paginator li:first-child{
    letter-spacing: 4px;
}
.paginator li:last-child{
    letter-spacing: 4px;
    margin-left: 171px;
    padding-left: 5px;
}
.paginator li:nth-child(4){
    letter-spacing: 4px;
    margin-left: 16px;
}
.paginator li:nth-child(3){
    letter-spacing: 4px;
    margin-left: 16px;
}
.paginator li:nth-child(2){
    letter-spacing: 4px;
    margin-left: 198px;
}
/* ФУТЕР */
.social-links-list::before {
    display: block;
    position: absolute;
    bottom: 8px;
    top: 14px;
    left: 0;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #f7e184;
}
.main-footer {
    min-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 209px;
    padding-top: 57px;
    padding-bottom: 47px;
    background-color: #464646;
}
.footer-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1160px;
    padding: 0 20px;
    background-color: #464646;
    color: #ffffff;
    margin: 0 auto;
}
.main-footer > a {
    color : #ffffff;
}
.main-footer a:hover {
    opacity : 0.6;
}
.main-footer a:active {
    opacity : 0.3;
}
.footer-top-nav {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : horizontal;
    -webkit-box-direction : normal;
        -ms-flex-direction : row;
            flex-direction : row;
}
.footer-top-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-logo-link {
    width : 163px;
    height : 36px;
    color : #ffc600;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 48px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 0.48px;
}
.footer-menu-items-link {
    width : 42px;
    height : 11px;
    color : #ffffff70;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 36px;
    letter-spacing : 0.15px;
}
.footer-menu-items-link:hover{
    color: #ffffff;
}
.footer-menu-items-link:hover ::before{
    opacity: 0.6;
}
.footer-logo{
    -ms-flex-preferred-size : 693px;
        flex-basis : 693px;
}
.footer-logo-index{
    -ms-flex-preferred-size: 869px;
        flex-basis: 869px;
}
.user-blok-footer {
    -ms-flex-preferred-size : 252px;
        flex-basis : 252px;
}
.compare-blok-footer {
    -ms-flex-preferred-size : 138px;
        flex-basis : 138px;
}
.basket-blok-footer {
    -ms-flex-preferred-size : 80px;
        flex-basis : 80px;
}
.user-enter-footer{
    -ms-flex-preferred-size: 111px;
        flex-basis: 111px;
}
.user-exit{
    opacity: 0.3;
}
.user-name-footer::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url(../img/user-enter-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.basket-blok-footer a::before{
    content: "";
    position: absolute;
    top: 13px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-image: url(../img/busket-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.compare-blok-footer a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-image: url(../img/compare-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.user-enter-footer a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url(../img/user-enter-footer.svg);
    color: #ffc600;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-midle-nav {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack : start;
        -ms-flex-pack : start;
            justify-content : flex-start;
    -webkit-box-align : baseline;
        -ms-flex-align : baseline;
            align-items : baseline;
    margin-top: 8px;
}
.footer-midle-nav-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 0;
    -ms-flex-preferred-size: 631px;
        flex-basis: 631px;
}
.footer-midle-nav-links a {
    width : 121px;
    height : 15px;
    color : #ffffff;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 3.6px;
}
.adress{
    -ms-flex-preferred-size: 367px;
        flex-basis: 367px;
    color: #ffffff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.footer-midle-nav-links li:first-child{
    -ms-flex-preferred-size: 159px;
        flex-basis: 159px;
}
.footer-midle-nav-links li:nth-child(2){
    -ms-flex-preferred-size: 147px;
        flex-basis: 147px;
}
.footer-midle-nav-links li:last-child{
    -ms-flex-preferred-size: 117px;
        flex-basis: 117px;
}
.tel{
    -ms-flex-preferred-size: 165px;
        flex-basis: 165px;
    color: #ffffff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.social-links-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-pack : center;
        -ms-flex-pack : center;
            justify-content : center;
    margin-top: 48px;
    padding-left: 20px;
}
.social-links-fb {
    content : url(../img/fb.svg);
}
.social-links-instagram {
    content : url(../img/instagram.svg);
}
.social-links-twiter {
    content : url(../img/twitter.svg);
}
.social-links-item-fb {
    -ms-flex-preferred-size : 54px;
        flex-basis : 54px;
}
.social-links-item-instagram {
    -ms-flex-preferred-size : 54px;
        flex-basis : 54px;
}
.social-links-item-twiter {
    -ms-flex-preferred-size: 54px;
        flex-basis: 54px;
}

.footer-container .social-links{
    opacity: 0.3;
}
.footer-container .social-links:hover{
    opacity: 0.6;
}
.footer-container .social-links:active{
    opacity: 0.1;
}
.html-logo-bottom {
    position: absolute;
    top: 0;
    right: 0;
}
.html-logo-bottom a {
    content : url(../img/logo-html.svg);
}
/*МОДАЛЬНЫЕ ОКНА*/
.modal-map {
    display: none;
    position : fixed;
    top:10%;
    left: 20%;
    width : 960px;
    height : 559px;
    -webkit-box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
            box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
}
.show-modal{
    display: block;
    -webkit-animation-name: bounceleft;
            animation-name: bounceleft;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}
iframe {
    width : 100%;
    height : 100%;
    border : none;
}
.js-map-close {
    border : none;
    background-color : inherit;
    display : block;
    position : absolute;
    left : 850px;
    top : 30px;
    background-image : url(../img/modal-close.svg);
    background-repeat : no-repeat;
    height : 55px;
    width : 55px;
    opacity : 0.60000002384185791015625;
}
.js-map-close:hover {
    opacity : 1;
}
.js-map-close:focus {
    outline : none;
    opacity : 0.300000011920928955078125;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}
.modal-feedback {
    display : none;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    -webkit-box-pack : center;
        -ms-flex-pack : center;
            justify-content : center;
    -webkit-box-align : center;
        -ms-flex-align : center;
            align-items : center;
    width : 960px;
    height : 553px;
    justify-content : center;
    position : fixed;
    top:10%;
    left: 20%;
    -webkit-box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
            box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
    background: white;
}

.show-modal-feedback{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: bounceup;
            animation-name: bounceup;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}
.modal-feedback input, .modal-feedback textarea {
    background : #eeeeee;
    border : none;
    opacity : 0.6;
}
.modal-feedback input:hover, .modal-feedback textarea:hover {
    background : #eeeeee;
    opacity : 0.8;
}
.modal-feedback input:focus, .modal-feedback textarea:focus {
    background : white;
    outline : 2px solid #f7e184;
}
.btn-close-fedback {
    -ms-flex-item-align : end;
        align-self : flex-end;
    background-image : url(../img/modal-close.svg);
    background-repeat : no-repeat;
    background-color : transparent;
    background-position : center;
    border : none;
    margin-top : 22px;
    margin-right : 22px;
    min-height: 65px;
    min-width: 65px;
    opacity : 0.6;
}
.btn-close-fedback:hover {
    opacity : 1;
}
.btn-close-fedback:active {
    outline : none;
    opacity : 0.3;
}
.feedback-form {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}
.feedback-half {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : horizontal;
    -webkit-box-direction : normal;
        -ms-flex-direction : row;
            flex-direction : row;
    margin-top : 21px;
}
.feedback-half-one {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    -webkit-box-flex : 1;
        -ms-flex-positive : 1;
            flex-grow : 1;
}
.feedback-half-one > label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    margin-bottom: 13px;
}
.feedback-half-too {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
}
.feedback-half-too > label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    margin-bottom: 13px;
}
.feedback-textarea {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
        -ms-flex-direction : column;
            flex-direction : column;
    margin-top : 40px;
}
.feedback-textarea label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    margin-bottom: 13px;
}
.modal-feedback input[name="email"],.modal-feedback input[name="fullname"] {
    width : 360px;
    height : 50px;
    padding-left : 20px;
    
}
.modal-feedback textarea[name="request"] {
    width : 760px;
    height : 156px;
    resize : none;
    padding-left : 20px;
    padding-top: 18px;
}





.modal-btn {
    margin-top : 55px;
    margin-bottom : 92px;
    height : 44px;
    color : #000000;
    font-family : Gilroy,Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : -webkit-gradient(linear, left bottom, left top, from(white), color-stop(40%, white), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, white));
    background : -webkit-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : -o-linear-gradient(bottom, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
    border : none;
}
.modal-btn:hover {
    background : #f0c52e;
}

/* анимация карты и окна ввода*/
@-webkit-keyframes bounceup{
    0%{-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
    80%{-webkit-transform: translateY(30px);transform: translateY(30px);}
    90%{-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes bounceup{
    0%{-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
    80%{-webkit-transform: translateY(30px);transform: translateY(30px);}
    90%{-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    100%{-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@-webkit-keyframes bounceleft{
    0%{-webkit-transform: rotate(360deg) translateX(-2000px);transform: rotate(360deg) translateX(-2000px); }
    50%{-webkit-transform: rotate(360deg) translateX(10px);transform: rotate(360deg) translateX(10px);}
    80%{-webkit-transform: rotate(370deg) translateX(-10px);transform: rotate(370deg) translateX(-10px);}
    100%{-webkit-transform: rotate(360deg) translateX(0px);transform: rotate(360deg) translateX(0px);}
}
@keyframes bounceleft{
    0%{-webkit-transform: rotate(360deg) translateX(-2000px);transform: rotate(360deg) translateX(-2000px); }
    50%{-webkit-transform: rotate(360deg) translateX(10px);transform: rotate(360deg) translateX(10px);}
    80%{-webkit-transform: rotate(370deg) translateX(-10px);transform: rotate(370deg) translateX(-10px);}
    100%{-webkit-transform: rotate(360deg) translateX(0px);transform: rotate(360deg) translateX(0px);}
}
.form-eror{
    -webkit-animation-name:form-eror;
            animation-name:form-eror;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
@-webkit-keyframes form-eror{
    0%,100%{-webkit-transform: translateX(0);transform: translateX(0); }
    10%,30%,50%,70%,90%{ -webkit-transform: translateX(-10px); transform: translateX(-10px);}
    20%,40%,60%,80%{ -webkit-transform: translateX(10px); transform: translateX(10px);}
   
}
@keyframes form-eror{
    0%,100%{-webkit-transform: translateX(0);transform: translateX(0); }
    10%,30%,50%,70%,90%{ -webkit-transform: translateX(-10px); transform: translateX(-10px);}
    20%,40%,60%,80%{ -webkit-transform: translateX(10px); transform: translateX(10px);}
   
}
